git+https://github.com/iDevision/enhanced-discord.py.git@96153bb177d5a9e0be81f8c05e57d8777f4cd926
asyncpg==0.25.0
rapidfuzz==1.8.3
websockets==10.0
humanize==3.13.1
Pillow==8.4.0
jishaku==2.3.1
python-dotenv==0.19.1
python-dateutil~=2.8.1
orjson>=3.5.4
lru-dict==1.1.7
attrs==21.2.0