git+https://github.com/iDevision/enhanced-discord.py.git@f7ade10112a1147bc3333228c784583620e96cda
asyncpg==0.25.0
rapidfuzz==1.9.1
websockets==10.1
humanize==3.13.1
Pillow==8.4.0
jishaku==2.3.2
python-dotenv==0.19.2
python-dateutil~=2.8.1
orjson>=3.5.4
lru-dict==1.1.7
attrs==21.2.0