git+https://github.com/Rapptz/discord.py.git@45d498c1b76deaf3b394d17ccf56112fa691d160
asyncpg==0.24.0
rapidfuzz==1.8.2
websockets==10.0
humanize==3.12.0
Pillow==8.4.0
jishaku==2.3.1
python-dotenv==0.19.1
python-dateutil~=2.8.1
orjson>=3.5.4
dislash.py==1.4.9